[bumpversion]
current_version = 0.6.0
commit = True
tag = True
sign_tags = True
tag_message = Version: {current_version} → {new_version}
message = Release version: {current_version} → {new_version}

[bumpversion:file:pyproject.toml]
search = version = "{current_version}"
replace = version = "{new_version}"

[bumpversion:file:compose.yaml]
search = image: darknet_ehf/tlsod:{current_version}
replace = image: darknet_ehf/tlsod:{new_version}
